.idea/
*.klm
*.rar
output/output/
output/qj_frequency
output/qujiang_co2
output/qujiangConvert
output/output917/
output/output912/
output/output920/
output/output_908/
output/545convert1/
output/545convert830/
output/qujiang1120convert/
__pycache__/
.gitignore~
..gitignore.un~
